# Ignore library folder
.library

# Ignore build and package folders recursively
**/bin/
**/obj/
**/packages/

# Ignore Nuget Config
NuGet.Config
Nuget.Config
**/NuGet.Config
**/Nuget.Config

**/.vs/

/net4/
/net6/
/plan/
.cursor/

chunks_cs/
chunks_vb/

[Bb]in/
[Oo]bj/

