# Ignore library folder
.library

# Ignore build and package folders recursively
**/bin/
**/obj/
**/packages/

# Ignore Nuget Config
NuGet.Config
Nuget.Config
**/NuGet.Config
**/Nuget.Config

**/.vs/

/net4/
/net6/
/plan/
.cursor/

chunks_cs/
chunks_vb/

[Bb]in/
[Oo]bj/


# Ignore all files in partials except ABC00100
partials/*
!partials/ABC00100/
!partials/ABC00100/**

# Override: always ignore these specific folders even in ABC00100
partials/**/results/**
partials/**/parameters/**
partials/**/common/**